# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.history/*

# GitHub
.git/
.github/

# Dependencies
node_modules

# Build outputs
dist
tmp
out-tsc
bazel-out
.angular

# Coverage
coverage

# Logs
*.log

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
